<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <div class="login-bg"><div class="glass-card">
        <h2>POWER<span>GYM</span></h2>
        <form action="/login" method="POST">
            <select name="role"><option value="member">Member</option><option value="admin">Admin</option></select>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">LOGIN NOW</button>
        </form>
    </div></div>
</body>
</html>
