<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gym Login</title>
</head>
<body>
    <div class="box">
        <h2>GYM LOGIN</h2>
        <form action="/login" method="POST">
            <select name="role"><option value="admin">Admin</option><option value="member">Member</option></select>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>
