<!DOCTYPE html>
<html>
<head>
    <title>Member Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <img src="{{ url_for('static', filename='user.png') }}" class="pic">
        <h2>{{ m[1] }}</h2>
        <p><strong>Member ID:</strong> #{{ m[0] }}</p>
        <p><strong>Plan:</strong> {{ m[4] }}</p>
        <p><strong>Contact:</strong> {{ m[3] }}</p>
        <p><strong>Joined:</strong> {{ m[5] }}</p>
        <br><a href="/logout" style="color: gray; text-decoration: none;">Logout</a>
    </div>
</body>
</html>
